
.form {
  z-index: 5;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  width: 28%;
  margin: auto;
}
#registerForm{
  height: 50%;
}
input::-webkit-input-placeholder{
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#buttonRow{
  padding: 0.5em;
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#buttonRow a{
  width: 45%;
}
.rowButton{
  width: 100%;
}
#register{
  margin-top: 8.6em;
  width: 100%;
  margin: 0.4em;
}
